<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=GANTZ-PC\SQLEXPRESS;Initial Catalog=SistemaDePinturaDB; Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>

    <add key="HabilitarLog" value="true"/>
    <add key="MuestraTraza" value="true"/>
    

    

  </appSettings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <customErrors mode="Off"/>


      <pages enableEventValidation="false"
            viewStateEncryptionMode ="Never"
            enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5"/>

      <httpRuntime targetFramework="4.5" maxRequestLength="1048576" />
    </system.web>

</configuration>
